/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

// Give the navigation some padding
body {
	margin: 0;
	font-size: 20;
	
	// Style the active links
	a.active {
		font-size: 30px;
	}
}

.container {
	margin: 0px;
	padding: 0px;
}

.left-column {
	background-color: orange;
}